[SME_SME]
remoteHostName=IP_SME_to_backup
SMEServer=yes
Watchdog=yes
RPMCheck=yes
ConnectionCheckTimeout=120
Debug=no
Description=Testjob bckup of a SME by a SME 
DiskSpaceWarn=strict
RootDir=/var/affa
TimeSchedule=0215
localNice=15
remoteNice=15
rsync--inplace=yes
rsyncCompress=no
rsyncTimeout=900
scheduledKeep=1
dailyKeep=7
weeklyKeep=4
monthlyKeep=12
yearlyKeep=1
status=enbabled
